{{/*
  Hybritexte layout. This layout describes a single-page template that has been
  augmented with the ability to display a frontmatter-defined abstract (in
  markdown format) as well as bibliography references.

  With multimodal "augmentations", in 2-column layout.
*/}}

{{ define "main" }}

{{/* 
  Set references
*/}}

<article class="{{ partial "page-class.html" . }} quire-page hybritexte-page" id="main" role="main">
  {{/* partial "page-header.html" . */}}
  <header class="hybritexte-page__header">
    <div class="container is-fluid">
      <div class="hybritexte-page__header__title-container">
        {{/* Page Title */}}
        <h1 class="hybritexte-page__header__title" id="{{ .Title | urlize }}">
          {{ with .Params.number }}<span class="hybritexte-page__header__number">{{ . }}<span class="visually-hidden">.</span></span>{{ end }}
          <span style="position: relative; z-index: 1">
            {{ .Title | markdownify }}
          </span>
        </h1>

        {{ with .Params.subtitle }}
        <div class="hybritexte-page__header__subtitle">
          {{ . | markdownify }}
        </div>
        {{ end }}

        {{/* Contributors, if any */}}
        {{ with .Params.contributor }}
        <div class="hybritexte-page__header__contributor">
          {{ partial "contributor-list.html" (dict "range" . "contributorType" "all" "listType" "list-plus" "Site" $.Site) }}
        </div>
        {{ end }}
      </div>


      {{/*- if .Params.image -}}
      <div class="right-column hybritexte-page__header__image-container">
        <img src="{{ .Params.image }}" />
      </div>
      {{- end -*/}}
    </div>
  </header>
  
  
  {{/* Abstract before content */}}
  {{ if .Params.abstract }}
  <section class="container">
    {{ partial "hybritexte-page-abstract.html" . }}
  </section>
  {{ end }}

  <section id="content" class="section quire-page__content hybritexte-page__content">
    <div class="container is-fluid has-2-columns with-separator content hybritexte-page__scroll-wrapper">

      {{ if .Content }}
      {{ .Content }}
      {{ end }}
    </div>

    {{- partial "footer-buttons.html" . -}}
  </section>
</article>


{{/* Hypothesis - must be inside #container for change on each page */}}
{{- if .Params.hypothesis -}}
<script id="please-load-hypothesis">
  // just a tag to load hypothes.is
</script>
{{- end -}}
{{ end }}
